body{
	background:#f0efef;
	padding:0px;
	font-family:Calibri,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.container{
	max-width: 960px;
	}
h1,h2,h3,h4,h5,h6{
	font-family:'Segoe UI Light','Segoe UI','Myriad Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight:normal;
}
tbody{
	font-size:12px;
	font-weight: normal;
}
#navbarContainer .navbar-inner .navbar{
	background-color: #001e55;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
}
.brand
{
	padding:0px;
	margin:0px;
}

img{
	pading:0px;
}
#currentPosition{
	color:black;
}
/*this is what we want the div to look like
when it is not showing*/
div.loading-invisible{
	/*make invisible*/
	display:none;
}

/*this is what we want the div to look like
when it IS showing*/
div.loading-visible{
	/*make visible*/
	display:block;

	/*position it 200px down the screen*/
	position:absolute;
	top:200px;
	left:0;
	width:100%;
	text-align:center;

	/*in supporting browsers, make it
	a little transparent*/
	background:#fff;
	filter: alpha(opacity=75); /* internet explorer */
	-khtml-opacity: 0.75;      /* khtml, old safari */
	-moz-opacity: 0.75;       /* mozilla, netscape */
	opacity: 0.75;           /* fx, safari, opera */
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.big{
	height:1000px;
}
.small{
	height:600px;
}
#logo{
	text-indent:-9999px;
	background:url('../img/logo.png');
	width:265px;
	height:34px;
	margin:0;
	margin-top:34px;
}
#baraVerde{
	background-image: -webkit-linear-gradient(left, hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
	background-image:    -moz-linear-gradient(left, hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
	background-image:     -ms-linear-gradient(left, hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
	background-image:      -o-linear-gradient(left, hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
	background-image:         linear-gradient(left, hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
		  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
	background-color:#679a01;
	height:307px;
	z-index:-100;
	margin-bottom:0;
	border-radius:0;	
	-moz-border-radius:0;	
	-webkit-border-radius:0;	
	padding-top:0 !important;
	padding-bottom:0 !important;
}
.sidebar > .inner{
	padding:10px;
}
.mainDiv
{
	margin-top:-218px;
	min-height: 218px;
	background:white;

}
#content
{

}
.navbar li a:after
{
	border-right:1px #679cc2 solid;
	content:"";
	margin-left:30px;
}
.navbar li:last-child a:after
{
	display:none;
}
.baraSus
{
	height:30px;
	background-color: #012950;
}
.navbar-inner a{
	color:white;
}
.navbar-inner
{
	border:0px;
	color:white;
	border-radius: 0px;
	background-color: #346699;
	background-image: -moz-linear-gradient(top, #346699, #346699);
	background-image: -ms-linear-gradient(top, #346699, #346699);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#346699), to(#346699));
	background-image: -webkit-linear-gradient(top, #346699, #346699);
	background-image: -o-linear-gradient(top, #346699, #346699);
	background-image: linear-gradient(top, #346699, #346699);
	background-repeat: repeat-x;
}
.navbar
{
	background-color: #346699
	background-image: -moz-linear-gradient(top, #346699, #346699);
	background-image: -ms-linear-gradient(top, #346699, #346699);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#346699), to(#346699));
	background-image: -webkit-linear-gradient(top, #346699, #346699);
	background-image: -o-linear-gradient(top, #346699, #346699);
	background-image: linear-gradient(top, #346699, #346699);
	background-repeat: repeat-x;
	font-weight: bold;
}
.navbar li a
{
	color:white !important;
}


@media (max-width: 979px)
{
	.navbar li a:after
	{
		display:none;
	}
}
.menuItem
{
	color:white;
}

#footer {
	color:#959595;
	padding:20px 0 25px 0;
}
#footer p.logohack {
	text-align:center;
}
#footer p a {
	color:#679a01;
	line-height:1.25;
}
#banner
{
	background-color: #012950;
	margin-top:0px;
	margin-bottom: 10px;
	color:white;
}
#banner #bannerText
{
	padding:10px 10px 10px 20px;
}
.navbar{
	margin-bottom:0px;
	height:38px;
}
.baraSus h5
{
	margin-right:15px;
	color:white;
	font-weight: normal;
}
.baraSus a
{
	color:white !important;
}
.divider-vertical{
	background-color: black
}
.separator{
	margin-top:8px;
}
.baraSus h5
{
	font-size:1em;
	margin-top:5px;
} 